gunicorn==20.1.0
flask==1.1.2
lightgbm==3.3.2
plotly==5.9.0
seaborn==0.11.2
shap==0.37.0
matplotlib==3.3.2
requests==2.25.1
streamlit==1.11.1
pandas==1.1.3
scikit_learn==0.24.2
dash
mkl_rt
ptf77blas
ptcblas
atlas
f77blas
cblas
atlas
blas 
tatlas
satlas
openblas 
blis
lapack
lapack_atlas
numpy
